*.bak
*.bat
.DS_Store

/*
!/Interface/
!/.gitignore
!/.gitlab
!/README.textile
!/README.md

/Interface/ICONS/
/Interface/ICONS2/

/Interface/AddOns*/*
/Interface/AddOns/RayUI/core/test.lua
!/Interface/AddOns/!BaudErrorFrame/
!/Interface/AddOns/Foglight/
!/Interface/AddOns/IntelliMount/
!/Interface/AddOns/ncShadow/
!/Interface/AddOns/Postal/
!/Interface/AddOns/RayUI/
!/Interface/AddOns/Skada/
!/Interface/AddOns/xCT+/
