*.bak
*.bat
.DS_Store

/*
!/Interface/
!/.gitignore
!/README.textile

/Interface/ICONS/
/Interface/ICONS2/

/Interface/AddOns*/*
!/Interface/AddOns/Bimbo/
!/Interface/AddOns/Buffet/
!/Interface/AddOns/EasyMount/
!/Interface/AddOns/Multishot/
!/Interface/AddOns/ncShadow/
!/Interface/AddOns/Numeration/
!/Interface/AddOns/Postal/
!/Interface/AddOns/RayUI/
!/Interface/AddOns/stAddonmanager/
!/Interface/AddOns/xCT/